[Desktop Entry]
Categories=Utility;Application;GTK;GNOME;
Exec=clipit
Icon=clipit-trayicon
Terminal=false
Type=Application

Name=ClipIt
Name[bg]=Clipit
Name[de]=Zwischenablage („Clipit”)
Name[en_GB]=Clipboard Manager (“Clipit”)
Name[fr]=ClipIt presse-papier
Name[fr_BE]=ClipIt presse-papier
Name[gl_ES]=Xestor de portapapeis ClipIt
Name[hi]=क्लिपआईट
Name[kn]=ಕ್ಲಿಪ್ಇಟ್
Name[ko]=클립잇
Name[ps]=ټﯾﺁ ﭗﯿﻠﮐ
Name[pt]=Gestor da área de transferência ClipIt 
Name[pt_BR]=Gerenciador da Área de Transferência ClipIt
Name[ru]=Буфер обмена (ClipIt)
Name[sr]=ЦлипИт
Name[sd]=ٽﺋﺁ ﭗﻠڪ
Name[ta]=கிளிப்இட்
Name[th]=คลิปอิท
Name[yi]=טיפּילק

GenericName=Clipboard Manager
GenericName[af]=Knipbordbestuurder
GenericName[am]=የቅንጥብ ሰሌዳ አስተዳዳሪ
GenericName[ar]=ﺔﻈﻓﺎﺤﻟﺍ ﺮﻳﺪﻣ
GenericName[be]=Менеджэр буфера абмену
GenericName[bg]=Мениджър за клипборда
GenericName[bn]=ক্লিপবোর্ড ম্যানেজার
GenericName[ca]=Gestor del porta-retalls
GenericName[ceb]=Tagdumala sa Clipboard
GenericName[co]=Manager di Clipboard
GenericName[cs]=Správce schránky
GenericName[cy]=Rheolwr clipfwrdd
GenericName[da]=Udklipsholder
GenericName[de]=Zwischenablageverwaltung
GenericName[el]=Διαχείριση προχείρου
GenericName[eo]=Manaĝero de Clipboard
GenericName[es_ES]=Administrador del Portapapeles
GenericName[es]=Gestor de Portapapeles
GenericName[et]=Lõikepuhvrihaldur
GenericName[eu]=Arbel kudeatzailea
GenericName[fa]=ﺩﺭﻮﺑ ﭗﯿﻠﮐ ﺮﯾﺪﻣ
GenericName[fi]=Leikepöydän hallinta
GenericName[fil]=Tagapamahala ng Clipboard
GenericName[fr]=Gestionnaire de presse-papier
GenericName[fr_BE]=Gestionnaire de presse-papier
GenericName[fy]=Klemboerdbehearder
GenericName[ga]=Bainisteoir gearrthaisce
GenericName[gd]=Manaidsear clipboard
GenericName[gl_ES]=Xestor de portapapeis
GenericName[gl]=Xestor de portapapeis
GenericName[gu]=ક્લિપબોર્ડ મેનેજર
GenericName[ha]=Manajan allo
GenericName[haw]=Luna Hoʻokele Papapaʻi
GenericName[he]=מנהל לוח גזירה
GenericName[hi]=क्लिपबोर्ड प्रबंधक
GenericName[hr]=Upravitelj međuspremnika
GenericName[ht]=Manadjè Clipboard
GenericName[hu]=Vágólapkezelő
GenericName[hy]=Clipboard-ի կառավարիչ
GenericName[id]=Manajer Papan Klip
GenericName[is]=Klippispjaldsstjóri
GenericName[it]=Gestore degli appunti
GenericName[ja]=クリップボードマネージャ
GenericName[jv]=Manajer Papan Klip
GenericName[ka]=ბუფერში მენეჯერი
GenericName[kk]=Алмасу буферінің менеджері
GenericName[km]=កម្មវិធីគ្រប់គ្រងក្តារតម្បៀតខ្ទាស់
GenericName[kn]=ಕ್ಲಿಪ್ಬೋರ್ಡ್ ಮ್ಯಾನೇಜರ್
GenericName[ko]=클립보드 관리자
GenericName[ku]=Rêveberê Clipboard
GenericName[ky]=Алмашуу буфери менеджери
GenericName[lo]=ຜູ້ຈັດການຄລິບບອດ
GenericName[lt]=Iškarpinės tvarkytuvė
GenericName[lv]=Starpliktuves pārvaldnieks
GenericName[mi]=Kaiwhakahaere Papatopenga
GenericName[mk]=Менаџер со таблата со исечоци
GenericName[ml]=ക്ലിപ്പ്ബോർഡ് മാനേജർ
GenericName[mn]=Түр санах ойн менежер
GenericName[mr]=क्लिपबोर्ड व्यवस्थापक
GenericName[ms]=Pengurus Papan Klip
GenericName[mt]=Maniġer tal-clipboard
GenericName[my]=ကလစ်ဘုတ်မန်နေဂျာ
GenericName[nb]=Utklippstavleverkty
GenericName[ne]=क्लिपबोर्ड प्रबन्धक
GenericName[nl]=Klembordmanager
GenericName[or]=କ୍ଲିପବୋର୍ଡ ମ୍ୟାନେଜର୍ |
GenericName[pa]=ਕਲਿੱਪਬੋਰਡ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer schowka
GenericName[ps]=ﺮﯾﺪﻣ ډﺭﻮﺑ ﭗﯿﻠﮐ ﺩ
GenericName[pt]=Gestor de Área de Transferência
GenericName[pt_BR]=Gerenciador da Área de Transferência
GenericName[ro]=Administrator clipboard
GenericName[ru_RU]=Менеджер буфера обмена
GenericName[ru]=Менеджер буфера обмена
GenericName[rw]=Umuyobozi wububiko
GenericName[sd]=ﺮﺠﻴﻨﺌﻣ ڊﺭﻮﺑ ﭗﻠڪ
GenericName[si]=ක්ලිප්බෝඩ් කළමනාකරු
GenericName[sk]=Správca schránky
GenericName[sl]=Upravljalnik odložišča
GenericName[sm]=Pule laupapa
GenericName[so]=Maamulaha boodhka
GenericName[sq]=Përgjegjës të Papastre
GenericName[sr]=Цлипбоард Манагер
GenericName[st]=Motsamaisi oa Clipboard
GenericName[su]=Pangatur Clipboard
GenericName[sv]=Urklippshanterare
GenericName[sw]=Kidhibiti Ubao wa kunakili
GenericName[ta]=கிளிப்போர்டு மேலாளர்
GenericName[te]=క్లిప్u200cబోర్డ్ మేనేజర్
GenericName[tg]=Менеҷери буфер
GenericName[th]=ผู้จัดการคลิปบอร์ด
GenericName[tk]=Paneli dolandyryjy
GenericName[tr]=Pano Yöneticisi
GenericName[tt]=Такта менеджеры
GenericName[uk]=Менеджер буфера обміну
GenericName[ur]=ﺮﺠﯿﻨﯿﻣ ﮈﺭﻮﺑ ﭗﻠﮐ
GenericName[uz]=Klipboard menejeri
GenericName[vi]=Trình quản lý khay nhớ tạm
GenericName[xh]=Umphathi webhodi eqhotyoshwayo
GenericName[yi]=רעגאַנאַמ דראָבפּילק
GenericName[yo]=Agekuru Manager
GenericName[zh_CN]=剪切板管理器
GenericName[zh_TW]=剪貼板管理器

Comment=Clipboard Manager
Comment[af]=Knipbordbestuurder
Comment[am]=የቅንጥብ ሰሌዳ አስተዳዳሪ
Comment[ar]=ﺔﻈﻓﺎﺤﻟﺍ ﺮﻳﺪﻣ
Comment[be]=Менеджэр буфера абмену
Comment[bg]=Мениджър за клипборда
Comment[bn]=ক্লিপবোর্ড ম্যানেজার
Comment[ca]=Gestor del porta-retalls
Comment[ceb]=Tagdumala sa Clipboard
Comment[co]=Manager di Clipboard
Comment[cs]=Správce schránky
Comment[cy]=Rheolwr clipfwrdd
Comment[da]=Udklipsholder
Comment[de]=Verwaltung der Zwischenablage in der System-Statusleiste
Comment[el]=Διαχείριση προχείρου
Comment[en_GB]=Keeps cut content of clipboard after a program window was closed, for pasting into another program window. Provides additionally a clip history.
Comment[eo]=Manaĝero de Clipboard
Comment[es_ES]=Administrador del Portapapeles
Comment[es]=Gestor de Portapapeles
Comment[et]=Lõikepuhvrihaldur
Comment[eu]=Arbel kudeatzailea
Comment[fa]=ﺩﺭﻮﺑ ﭗﯿﻠﮐ ﺮﯾﺪﻣ
Comment[fi]=Leikepöydän hallinta
Comment[fil]=Tagapamahala ng Clipboard
Comment[fr]=Gestionnaire de presse-papier
Comment[fr_BE]=Gestionnaire de presse-papier
Comment[fy]=Klemboerdbehearder
Comment[ga]=Bainisteoir gearrthaisce
Comment[gd]=Manaidsear clipboard
Comment[gl_ES]=Xestor de portapapeis
Comment[gl]=Xestor de portapapeis
Comment[gu]=ક્લિપબોર્ડ મેનેજર
Comment[ha]=Manajan allo
Comment[haw]=Luna Hoʻokele Papapaʻi
Comment[he]=מנהל לוח גזירה
Comment[hi]=क्लिपबोर्ड प्रबंधक
Comment[hr]=Upravitelj međuspremnika
Comment[ht]=Manadjè Clipboard
Comment[hu]=Vágólapkezelő
Comment[hy]=Clipboard-ի կառավարիչ
Comment[id]=Manajer Papan Klip
Comment[is]=Klippispjaldsstjóri
Comment[it]=Gestore degli appunti
Comment[ja]=クリップボードマネージャ
Comment[jv]=Manajer Papan Klip
Comment[ka]=ბუფერში მენეჯერი
Comment[kk]=Алмасу буферінің менеджері
Comment[km]=កម្មវិធីគ្រប់គ្រងក្តារតម្បៀតខ្ទាស់
Comment[kn]=ಕ್ಲಿಪ್ಬೋರ್ಡ್ ಮ್ಯಾನೇಜರ್
Comment[ko]=클립보드 관리자
Comment[ku]=Rêveberê Clipboard
Comment[ky]=Алмашуу буфери менеджери
Comment[lo]=ຜູ້ຈັດການຄລິບບອດ
Comment[lt]=Iškarpinės tvarkytuvė
Comment[lv]=Starpliktuves pārvaldnieks
Comment[mi]=Kaiwhakahaere Papatopenga
Comment[mk]=Менаџер со таблата со исечоци
Comment[ml]=ക്ലിപ്പ്ബോർഡ് മാനേജർ
Comment[mn]=Түр санах ойн менежер
Comment[mr]=क्लिपबोर्ड व्यवस्थापक
Comment[ms]=Pengurus Papan Klip
Comment[mt]=Maniġer tal-clipboard
Comment[my]=ကလစ်ဘုတ်မန်နေဂျာ
Comment[nb]=Utklippstavleverkty
Comment[ne]=क्लिपबोर्ड प्रबन्धक
Comment[nl]=Klembordmanager
Comment[or]=କ୍ଲିପବୋର୍ଡ ମ୍ୟାନେଜର୍ |
Comment[pa]=ਕਲਿੱਪਬੋਰਡ ਮੈਨੇਜਰ
Comment[pl]=Menedżer schowka
Comment[ps]=ﺮﯾﺪﻣ ډﺭﻮﺑ ﭗﯿﻠﮐ ﺩ
Comment[pt]=Gestor de Área de Transferência
Comment[pt_BR]=O ‘ClipIt’ é um programa utilitário que permite armazenar vários textos simples na área de transferência, capturando as ações de copiar ou de recortar e possibilita o uso futuro dos textos que foram guardados de serem utilizados por meio da ação de colar, as ações podem ser feitas com as combinações de teclas Ctrl+C (para copiar a informação para a área de transferência), Ctrl+X (para cortar ou recortar a informação para a área de transferência), Ctrl+V (para colar a informação da área de transferência), além de que, as ações podem ser realizadas com o cursor ou a seta
Comment[ro]=Administrator clipboard
Comment[ru_RU]=Менеджер буфера обмена
Comment[ru]=Менеджер буфера обмена
Comment[rw]=Umuyobozi wububiko
Comment[sd]=ﺮﺠﻴﻨﺌﻣ ڊﺭﻮﺑ ﭗﻠڪ
Comment[si]=ක්ලිප්බෝඩ් කළමනාකරු
Comment[sk]=Správca schránky
Comment[sl]=Upravljalnik odložišča
Comment[sm]=Pule laupapa
Comment[so]=Maamulaha boodhka
Comment[sq]=Përgjegjës të Papastre
Comment[sr]=Цлипбоард Манагер
Comment[st]=Motsamaisi oa Clipboard
Comment[su]=Pangatur Clipboard
Comment[sv]=Urklippshanterare
Comment[sw]=Kidhibiti Ubao wa kunakili
Comment[ta]=கிளிப்போர்டு மேலாளர்
Comment[te]=క్లిప్u200cబోర్డ్ మేనేజర్
Comment[tg]=Менеҷери буфер
Comment[th]=ผู้จัดการคลิปบอร์ด
Comment[tk]=Paneli dolandyryjy
Comment[tr]=Pano Yöneticisi
Comment[tt]=Такта менеджеры
Comment[uk]=Менеджер буфера обміну
Comment[ur]=ﺮﺠﯿﻨﯿﻣ ﮈﺭﻮﺑ ﭗﻠﮐ
Comment[uz]=Klipboard menejeri
Comment[vi]=Trình quản lý khay nhớ tạm
Comment[xh]=Umphathi webhodi eqhotyoshwayo
Comment[yi]=רעגאַנאַמ דראָבפּילק
Comment[yo]=Agekuru Manager
Comment[zh_CN]=剪切板管理器
Comment[zh_TW]=剪貼板管理器

Keywords=clipboard;management;manager;
Keywords[ca]=porta-retalls;gestió;gestor;
Keywords[de]=Zwischenablage;Verwaltung;clipboard;management;manager;
Keywords[es_ES]=portapapeles;gestión;gestor;
Keywords[fr]=clipboard;management;manager;presse-papiers;gestion;gestionnaire;
Keywords[fr_BE]=clipboard;management;manager;presse-papiers;gestion;gestionnaire;
Keywords[hu]=clipboard;management;manager;vágólap;vágólap kezelés;vágólapkezelő;
Keywords[pt]=clipboard;área de transferência;gestor;gerir;
Keywords[pt_BR]=área de transferência;gerenciamento;copiar;recortar;colar;
Keywords[ru]=буфер обмена;менеджмент;менеджер;clipboard;management;manager;
Keywords[sl]=clipboard;management;manager;odložišče;upravljanje;upravljalnik;
Keywords[sv]=klippbord;hanterande;hanterare;
